* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-size: 30px;
}

.footer {
  margin-top: 100px;
}
.main-web {
  min-height: 1000px;
}
.list-item-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-item-link img {
  width: 50px;
  margin-right: 10px;
}
